.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	background: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, #F0F0F0 100%), #E3E3E3;
}

.footer {
}
.section_in {
}
.footer_main {
	padding: 8rem 0 4rem 0;
}
.footer-top {
	max-width: 35.2rem;
	margin: 0 auto;
}

.contacts-item {
	a {
		color: $gray-2;
		font-size: 1.6rem;
		font-weight: 700;
		font-family: $font_2;
		.icons {
			font-size: 2.2rem;
		}
	}
}
.footer-body {
	padding: 4rem 0 8rem 0;
	@include flex-center;

	@include bp($point_4) {
		flex-direction: column;
	}
	.contacts-list {
		margin: 0 6rem 0 0;

		@include bp($point_4) {
			margin: 0 0 3rem 0;
		}
	}

	.social-list {
		margin: -2rem -2rem 0 0;
	}
}
.contacts-list {
}
.contacts-item {
}
.icons {
}
.ic:baseline-phone-in-talk {
}
.iconify {
}
.fluent:mail--filled {
}
.social-list {
}
.whatsapp-fill {
}
.ic:baseline-telegram {
}
.entypo-social:vk-with-circle {
}
.footer-bottom {
	.footer_info {
		@include flex-space;
		max-width: 75.9rem;
		margin: 0 auto;
		color: $gray-2;

		li {
			&:not(:last-child) {
				@include bp($point_4) {
					margin-bottom: 1rem;
				}
			}
		}

		@include bp($point_4) {
			flex-direction: column;
			align-items: center;
		}
		a {
			color: $gray-2;
		}
	}
}
.footer_info {
}