.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
}

.footer {
}
.section_in {
}
.footer_main {
}
.footer-top {
}
.footer-body {
}
.contacts-list {
}
.contacts-item {
}
.icons {
}
.ic:baseline-phone-in-talk {
}
.iconify {
}
.fluent:mail--filled {
}
.social-list {
}
.whatsapp-fill {
}
.ic:baseline-telegram {
}
.entypo-social:vk-with-circle {
}
.footer-bottom {
}
.footer_info {
}