footer.footer 
	.section_in 
		.footer_main
			.footer-top 
				a(href="#")
					img(src="i/global/logo.svg", alt="")
			.footer-body 
				ul.contacts-list
					-for(i = 0; i < 2; i++)
						- let link = ['8 (888) 888-88-88', 'mail@mail.ru']
						- let icon = ['ic:baseline-phone-in-talk', 'fluent:mail-24-filled']
							li.contacts-item 
								a(href="#")
									p=link[i]
									+iconify({
										icon: icon[i]
									})
				ul.social-list 
					each item in ['ri:whatsapp-fill', 'ic:baseline-telegram', 'entypo-social:vk-with-circle']
						li 
							a(href="#")
								+iconify({
									icon: item
								})
			.footer-bottom 
				ul.footer_info 
					each item, i in ['Политика конфиденциальности', '© 2023 Все права защищены', 'brand']
						if i === 1
							li 
								a(href="#")=item 
						else if i === 2
							li 
								a(href="#")
									img(src="i/global/brand.svg", alt="")
						else 
							li=item