header.header 
	.section_xxl 
		.header_main
				.header_logo 
					a(href="#")
						img(src="i/global/logo-header.svg", alt="")
				.burger_w.trigger(data-target="burger")
					p Меню
					.burger_btn
						+iconify({
							icon: 'material-symbols:menu'
						})