extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'SHOP -- STAIRS'}
block content_block
	+page-header({
		title: 'Готовые решения',
		txt: 'Lorem ipsum dolor sit amet consectetur. Commodo sed sem adipiscing posuere. Purus velit lobortis aliquam vitae commodo mauris. Urna augue sit ullamcorper ut sit velit sollicitudin pulvinar.'
	})
	section.shop 
		.section_custom 
			.shop_main
				.shop-products 
					ul.products-grid.grid-3 
						-for(i = 0; i < 12; i++)
							- let img = ['products', 'stairs']
							- let imgStep = i % 2
							li.products-item
								a(href="#" class="trigger" data-target="ready") 
									.products_item--img.hover-card 
										img(src=`i/shop/${img[imgStep]}.jpg`, alt="")
									h3 Название товара
					ul.pagination-list.mb15.hover-link
						-for(i = 1; i < 5; i++)
							if i === 1
								li 
									a(href="#" class="current-page-item")=`0${i}`
							else
								li 
									a(href="#")=`0${i}`
					.seo-block_w 
						.seo_block 
							h2 Заголовок
							p Lorem ipsum dolor sit amet consectetur. Euismod ac pretium varius orci quis semper purus diam ornare. Et elit semper eget morbi. At potenti amet elementum lacus lacus tellus vitae. Amet nulla egestas natoque orci malesuada egestas. Et morbi faucibus lorem arcu. In tristique mi vestibulum mattis volutpat ligula sed nisl. Volutpat habitasse urna et rhoncus. Gravida viverra vel diam suspendisse rhoncus elementum dui sit. Nunc ut eget facilisis viverra dolor iaculis arcu feugiat nec.
							p Interdum lacus velit ornare hendrerit morbi. Aliquet quis a sed libero placerat. Euismod elit placerat posuere cras malesuada faucibus venenatis morbi. Lectus tristique sagittis mauris sit turpis tincidunt id arcu. Fringilla nibh enim purus tortor volutpat hendrerit tincidunt. Eget libero pulvinar tincidunt sapien at.Lorem ipsum dolor sit amet consectetur. Euismod ac pretium varius orci quis semper purus diam ornare. Et elit semper eget morbi. At potenti amet elementum lacus lacus tellus vitae. Amet nulla egestas natoque orci malesuada egestas. Et morbi faucibus lorem arcu. In tristique mi vestibulum mattis volutpat ligula sed nisl. Volutpat habitasse urna et rhoncus. Gravida viverra vel diam suspendisse rhoncus elementum dui sit. Nunc ut eget facilisis viverra dolor iaculis arcu feugiat nec.
							p Fringilla nibh enim purus tortor volutpat hendrerit tincidunt. Eget libero pulvinar tincidunt sapien at.Lorem ipsum dolor sit amet consectetur. Euismod ac pretium varius orci quis semper purus diam ornare. Et elit semper eget morbi. At potenti amet elementum lacus lacus tellus vitae. Amet nulla egestas natoque orci malesuada egestas. Et morbi faucibus lorem arcu. In tristique mi vestibulum mattis volutpat ligula sed nisl. Volutpat habitasse urna et rhoncus. Gravida viverra vel diam suspendisse rhoncus elementum dui..
						.link-more.black 
							p Показать больше
							+iconify({
								icon: 'carbon:chevron-right',
								mode: 'black'
							})
	.popup.popup-products(data-id="ready")
		.popup_bg.remove
		.popup_main.popup_main--products.popup_main--ready
			.close.remove 
				+iconify({
					icon: 'ic:outline-close'
				})
			.popup_slider_w
				.popup_slider.swiper 
					.swiper-wrapper
						-for(i = 0; i < 5; i++)
							.swiper-slide
								a(href="i/shop/stairs.jpg" data-fancybox="popups")  
									img(src="i/shop/stairs.jpg", alt="")
				.product_slider--navigation
					.pro-prev 
						+iconify({
							icon: 'ic:sharp-chevron-left'
						})
					.pro-next 
						+iconify({
							icon: 'ic:sharp-chevron-right'
						})
			.popup_products--bottom
				.popup_bottom--title
					h3 Название проекта
					p Свяжитесь с нами, если хотите проект по данному эскизу:
				+btn({
					class: 'black remove',
					btn: 'Оставить заявку',
					target: 'form'
				})